{% load static %}
{% include 'header.html' %}

<body>
    <br>
    <section class="center" style="margin-top: -25px;">

        <h2>About Us</h2>
        <p> Students from a third-tier institution developed the Bondly initiative.
            My name is Sahil Singhai. We want to help our age move away from the unfavourable social media platforms
            and onto a place where individuals can be open and share their lives rather than flaunt them.
            You may access Bondly here. The best thing about our website is that it is not addictive. This website is
            still being developed.
            We value your thoughts and opinions.</p>
        <p>Please consider sending me an email if you have any feedback.</p>

    </section>
    <br>
    <section class='center' id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Web Design</li>
            <li>Web Development</li>
            <li>API Development</li>
        </ul>
    </section>

    <section class='center' style="margin-top:-10px">
        <h2>Contact Us</h2>
        <p>Email: <a href="mailto:sahij212@gmail.com">sahij212@gmail.com</a></p>
        <p>Phone: Only Mail are accepts </p>
        <p>Address:<a
                href="https://www.google.com/maps/search/Flat+no.+201,+Sweet+home,+4,+JK+Rd,+Indrapuri+A+sector,+Indrapuri,+Bhopal,+Madhya%C2%A0Pradesh%C2%A0462022/@23.2533181,77.4560953,15z">
                Flat no. 201, Sweet home, 4, JK Rd, Indrapuri A sector, Indrapuri, Bhopal, Madhya Pradesh 462022</a></p>
    </section>
    <br>
</body>
{% include 'footer.html' %}