{% load static %}

<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- <h4>Welcome {{user.username}}</h4> -->
</head>

<body style="background-color: silver;">
    {% include 'header.html' %}
    <br>
    
    <div style="font-weight: 100; color:black ;">
    <p> The project Bondly was created by third-tier college students.
         My name is Sahil Singhai, and Sanskrati Agarwal is my co-developer.
          We want to support the transition of our generation away from the negative social media environments 
          and onto a platform where people may be transparent and discuss their lives rather than flaunt them. 
          Our website Bondly is available here. 
        The fact that our website is non addicting is the finest aspect.  </p></div>
</body>

</html>