{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Bondly</title>
</head>

<body>
  <header>
    <div><b><a href="{% url 'index' %}">Bondly</a></b></div>
  </header>
  {% if user.is_authenticated  %}
  <nav>
    {% else %}
    <nav>
      {% endif %}
      <ul class="nav">
        <div>
          <img class="profile-img" src="{{user_profile.img_profile.url}}" />
        </div>

        {% if request.path != '/' and user.is_authenticated == False %}
        <li><a href="/">Home</a></li>
        {% endif %}

        {% if request.path != '/login' and user.is_authenticated == False %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'login' %}">Sign up</a></li>
        {% endif %}

        {% if request.path != '/about' and user.is_authenticated == False %}
        <li><a href="{% url 'about' %}">Contact</a></li>
        {% endif %}

        <div style="display:inline-flex;">
          {% if user.is_authenticated %}
          <li><a href="{% url 'home' %}">Home</a></li>

          {% if user_object.username != None and user_object.username != user.username %}
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{user.username}}" name="follower" />
            <input type="hidden" value="{{user_profile.usr.username}}" name="username" />
            <li><button class="button1" style="background:none; border:0; color:white;font-size: medium;padding: 0px;"
                formaction="/follow" type="submit">{{text}}</button></li>
          </form>
          {% endif %}

          <li><a href="/profile/{{user.username}}">Profile</a></li>
          <li><a href="{% url 'settings' %}">Settings</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% endif %}
        </div>

      </ul>
    </nav>
