{% load static %}
{% include 'header.html'%}

<div class="search-form " id="search-form">
    <form action="/search" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Search..." name="username">
        <input type="submit" value="Search">
    </form>
</div>

<div>
    <form class="d-flex justify-content-between align-items-center flex-column" action="upload" method="POST"
        enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Image</label>
            &nbsp
            <input type="file" name="image_upload" class="form-control" aria-describedby="emailHelp"
                placeholder="Upload Image">
        </div>
        <div class="form-group">
            <label for="exampleFormContro   lTextarea2">Caption</label>
            &nbsp
            <textarea width="5cm" height='5cm' name="caption" class="form-control rounded-0"
                id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

{% for post in posts %}
<div class="User-posts">
    <div class="username"> <a href="">@{{post.user}}</a> </div>
    <a class="post" href="{{post.image.url}}" height='50%' width="45%">
        <img src="{{post.image.url}}" height='50%' width="45%" alt="{{post.caption}}"></a>
    <br>
    <div class="postBottom">
        {% if post.caption %}
        <h4>Caption: {{post.caption}}</h4>
        {% endif %}
        {% if post.Likes == 0 %}
        {{pass}}
        {% elif post.Likes == 1 %}
        <p>Liked by {{post.Likes}} person</p>
        {% else %}
        <p>Liked by {{post.Likes}} people</p>
        {% endif %}
        <a class="like" href="{% url 'likes' post.id %}">Like</a> &nbsp;
        <a class="like" href="{% url 'likes' post.id %}">Comment</a> &nbsp;
        <a class="like" href="{% url 'likes' post.id %}">Share</a> &nbsp;
        <a href="{{post.image.url}}" class="downloadIcon" download>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
                role="img" width="25" height="25" preserveAspectRatio="xMidYMid meet" >
                <g fill="currentColor">
                    <path
                        d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v6h-2a.5.5 0 0 0-.354.854l2.5 2.5a.5.5 0 0 0 .708 0l2.5-2.5A.5.5 0 0 0 10.5 7.5h-2v-6z" />
                </g>
            </svg>
        </a>
    </div>
</div>
{% endfor %}

{% include 'footer.html' %}