{% load static %}

<!DOCTYPE>
<html>
    <head>
        <title>Index of Bondly</title>
        <style>
            a { text-decoration: none; color:black;}
          </style>
    </head>
    <body>
        <h1>Hey Folks.</h1>
        <p>Hello Welcome to Bondly. An Social Media Application for Teens.
        </p>
        <button> <a href="signup" style="margin:2%;">signup</a> </button>
        
        <button><a href="login" style="margin:2%;">login</a></button>

    </body>
</html>