
        {% include 'header.html' %}
        <div class="index">
            {% include 'nav.html' %}
            <h1 class="indextitle">Hey Folks.</h1>
            <p class="indexSubHeading">Hello Welcome to Bondly. An Social Media Application for Teens.</p>
            <div class="d-flex justify-content-between align-items-center">
                <a class="btn btn-dark" href="signup" style="margin:2%;">signup</a>
            
                <a class="btn btn-dark" href="login" style="margin:2%;">login</a>
            </div>
            {% include 'foot.html' %}
        </div>
        {% include "footer.html" %}