        {% load static %}
        {% include 'header.html' %}
        <div class="d-flex h-100 justify-content-between align-items-center flex-column">
            {% include 'nav.html' %}
            <div class="d-flex justify-content-between align-items-center flex-column">
                <h1>Hey Folks.</h1>
            </div> 
            <div class="d-flex justify-content-between align-items-center flex-column">
                {% for message in messages %}
                <h5> {{message}} </h5>
                {% endfor %}
            </div>
    
            <form class="d-flex justify-content-between align-items-center flex-column" action="" method="POST">
    
                {% csrf_token %}
    
                <div class="form-outline">
                    <label class="form-label" for="form12">User Name</label>
                    <input required class="form-control" type="text" name="username" placeholder="Example: Sahil_singhai">
                </div>
                <div class="form-outline">
                    <label class="form-label" for="form12">Password</label>
                    <input required class="form-control" type="password" name="password" placeholder="********">
                </div>
                <br>
                <button class="btn btn-dark" type="submit">Login</button>
                <br>
                <br>
                <div class="d-flex justify-content-between align-items-center flex-column">
                    <p>Forgot your passowrd! <a class="text-danger text-decoration-nonehref=/forgot"> Recover here</a></p>
                    <p> Not registered? <a class="text-danger text-decoration-none" href="/signup"> Create a account </a></p>
                </div>
            </form>
            {% include 'foot.html' %}
        </div>
        {% include "footer.html" %}