{% load static %}
{% include 'header.html' %}
<body>
    <section>
        <div>
            <p>Bio &#10159; {{user_profile.bio}}</p>
        </div>
    </section>
    <br>
    <div>
        {% if postsNum == 0 %}
        <pre>No Post</pre>
        {% elif postsNum == 1 %}
        <pre>{{postsNum}} Post</pre>
        {% else %}
        <pre>{{postsNum}} Posts</pre>
        {% endif %}

        {% if followers == 0 or followers == 1 %}
        <span>
            <pre>{{followers}} follower</pre>
        </span>
        {% else %}
        <span>
            <pre>{{followers}} followers</pre>
        </span>
        {% endif %}
        <span>
            <pre>{{following}} following</pre>
        </span>
    </div>
    <hr>

    {% for post in posts %}
    {{user_profile}}<br>
    <a class="strip" href="{{post.image.url}}" title="" height='50%' width="45%">
        <img src="{{post.image.url}}" height='50%' width="45%" alt=""></a>
    {% endfor %}

</body>
{% include 'footer.html' %}