{% load static %}
{% include 'header.html' %}
<body>
    <form action="/search" method="POST">
        {% csrf_token %}
        <div class="left-side">
            <input type='text' list="usernames" name="username">
            <button type="submit" style="padding-top:0.1px"><i>&#10159;</i></button>
        </div>
    </form>
    {% for users in user_profile_list %}
    <section class="search-result-item">
        <a class="image-link" href="/profile/{{users.usr}}"><img class="image" width=100 height=100 src="{{users.img_profile.url}}">
        </a>
        <div href="/profile/{{users.usr}}" >
            <div class="row">
                <div  href="/profile/{{users.usr}}" class="col-sm-9">
                    <h4 class="search-result-item-heading"><a href="/profile/{{users.usr}}"><b>@{{users.usr}}</b></a>
                    </h4>
                    <p class="info">{{users.location}}  &nbsp;  {{users.bio}}</p>
                    <!-- <p class="description">{{users.bio}}</p> -->
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
</body>
{% include 'footer.html' %}
