{% load static %}
{% include 'header.html' %}

<body>
    <h1>Bondly Profile Settings</h1>
    <h4>{{user.username}}</h4>

    <br>
    <hr>

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
            <div class="col-span-2">
                <label for=""> Profile Image</label>
                <img width="100" height="100" style='margin: 2%;' src="{{user_profile.img_profile.url}}" />
                <input type="file" name="image" class="shadow-none bg-gray-100">
            </div>
            <div class="col-span-2">
                <label for="about">Bio</label>
                <textarea id="about" name="bio" style='margin: 2%;' rows="3" class="shadow-none bg-gray-100">{{user_profile.bio}}</textarea>
            </div>
            <div class="col-span-2">
                <label for=""> Location</label>
                <input type="text" name="location" style='margin: 2%;' value="{{user_profile.location}}" class="shadow-none bg-gray-100">
            </div>

        </div>

        <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
            <button class="p-2 px-4 rounded bg-gray-50 text-red-500"> <a href="/">Cancel</a> </button>
            <button type="submit" class="button bg-blue-700"> Save </button>
    
        </div>
    </form>
</body>
