{% load static %}

<!DOCTYPE>
<html>
    <head>
        <title>Sign up Page</title>
        <style>
            a { text-decoration: none; color:black;}
          </style>
    </head>
    <body>
        {% include 'header.html' %}
        <h1>Hey Folks.</h1>
        <p>Hello Welcome to Sign up page.</p>

        <div>
            {% for message in messages %}
            <h5> {{message}} </h5>
            {% endfor %}
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="fname" placeholder="First Name" style="border: 1px solid #d3d5d8 !important;"><br>
            <input type="text" name="lname" placeholder="Last Name" style="border: 1px solid #d3d5d8 !important;"><br>
            <input type="text" name="username" placeholder="Username" style="border: 1px solid #d3d5d8 !important;"><br>
            <input type="email" name="email" placeholder="Email" style="border: 1px solid #d3d5d8 !important;"><br>
            <input type="password" name="password1" placeholder="Password" style="border: 1px solid #d3d5d8 !important;"><br>
            <input type="password" name="password2" placeholder="Confirm Password" style="border: 1px solid #d3d5d8 !important;"><br>
            <button type="submit">Sign Up</button>
            <div>
                <p>Do you have an Account?. <button><a href='/login'>login</a></button> </p>
            </div>
        </form>
    </body>
</html>